<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{%extends 'events/base.html'%}
{% block content%}
 <div class="shadow p-4 mb-5 bg-body rounded">
        <center><h2>Login</h2></center>
        <form action="" method="POST">
             {% csrf_token%}
             <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username :</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    <div id="emailHelp" ></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password :</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
   <center><button type="submit" class="btn btn-secondary">Submit</button></center>
</form>
    </form>
</div>
{%endblock%}
</body>
</html>